// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #ffab91 !default;
$header-bg-color-secondary: #ff7f50 !default;

// Text
$section-headings-color: #ff7f50 !default;
$body-text-color: #e0e0e0 !default;
$body-link-color: #42a5f5 !default;
$blockquote-text-color: #ffab91 !default;
$body-bg-color: #303030 !default;

// Code
$code-bg-color: #252525 !default;
$code-text-color: #d0d0d0 !default;

// Borders
$border-color: #424242 !default;
$table-border-color: #424242 !default;
$hr-border-color: #424242 !default;
