<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Raleway:200,300|Dancing+Script|Gugi|Parisienne&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css" />
  </head>
  <body class="{{ page.body_class }}">
    <div id="loader">
      <div class="loader-content">
        <div class="loader-logo">
          <span class="drake-script">Drake</span> <span class="makes-gugi">Makes</span>
        </div>
        <div class="loader-spinner"></div>
      </div>
    </div>
    <header class="page-header" role="banner">
      <div class="header-content-wrapper">
        <div class="header-title">
          <a href="/" class="header-logo-link"><h1 class="project-name"><span class="drake-script">Drake</span> <span class="makes-gugi">Makes</span></h1></a>
        </div>
        <div class="hamburger-menu">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <nav class="main-nav">
          <ul>
            <li><a href="/">Home<span class="underline"></span></a></li>
           <li><a href="{% link pages/writing.md %}">Writing<span class="underline"></span></a></li>
            <li><a href="{% link pages/art.md %}">Art<span class="underline"></span></a></li>
            <li><span class="disabled-nav"><a href="{% link pages/about.md %}">About<span class="underline"></span></a></span></li>
          </ul>
        </nav>
      </div>
    </header>

    <main id="content" class="main-content" role="main">
      {% if page.layout == 'post' %}
        {{ content }}
      {% else %}
        <div class="main-content-wrapper">
          {{ content }}
        </div>
      {% endif %}
    </main>

    <footer class="site-footer">
      <div class="bottom-nav">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="{% link pages/writing.md %}">Writing</a></li>
          <li><a href="{% link pages/art.md %}">Art</a></li>
          <li><span class="disabled-nav"><a href="{% link pages/about.md %}">About</a></span></li>
        </ul>
      </div>
      <p class="copyright">&copy; {{ site.time | date: '%Y' }} Drake Cummings</p>
    </footer>
    <script src="{{ '/assets/js/page-transitions.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/text-appearance.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/mobile-menu.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/underline.js' | relative_url }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
    <script src="{{ '/assets/js/art.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/art_carousel.js' | relative_url }}"></script>
  </body>
</html>
